docs/_build/
docs/_versions
docs/source/_build/
docs/source/software_documentation/code/*
.vscode/
.idea/
.coverage
cov.xml
*.glade~
__pycache__/
pylint/
venv/
.venv/
extensions.json
htmlcov/
.pytest_cache/
.mypy_cache/
.flatpak-repo/
.flatpak-builder/
.flatpak-build/
