docs/_build/
docs/_versions
docs/source/_build/
docs/source/development/code/*
.vscode/
.idea/
*.egg-info/
.coverage
coverage.xml

__pycache__/
pylint/
venv/
.venv/
htmlcov/
.pytest_cache/
.mypy_cache/
.flatpak-repo/
.flatpak-builder/
.flatpak-build/
build/

