.main-window {
 font-family: Ubuntu;
 background-color: #515151;
}

.search-entry{
background-color: #515151;
border-style: solid;
border-color: #4d77fd;
border-radius: 25px;
}

.main-status-bar {
background-color: #464545;
margin: 8px;
}

.main-file-tree{
background-color: #515151;
}

.main-presenter-container{
background-color: #464545;
}

.main-header-bar {
color: #4d77fd;
}

.main-header-bar > label {
color: #e4e4e4;
font-weight:700;
}

.main-header-bar > box {
background-color: #2b2b2b;
border: none;
}

.empty-list-pattern {
margin: 100px;
font-family: Courier;
}

.column-based-presenter button{
border: none;
padding: 10px 40px;
}

.column-based-presenter button:hover{
border: none;
padding: 20px 40px;
}

progressbar > trough > progress {
    background-color: #4d77fd;
}

progressbar > trough  {
background-color: #fff;
}
