.main-window {
 font-family: Ubuntu;
 background-color: #515151;
}

.main-main-grid * {
border-image: none;
background-image: none;
}

.search-entry{
background-color: #515151;
border-style: solid;
border-color: #4d77fd;
border-radius: 25px;
}

.main-status-bar {
background-color: #464545;
margin: 8px;
border-image: none;
border-style: solid;
border-color: #464545;
border-width: 10px;
}

.main-file-tree{
background-color: #515151;
}

.main-presenter-container{
background-color: #464545;
border-image: none;
border-style: solid;
border-color: #464646;
border-width: 2px;
}

.main-header-bar {
background-image: none;
background-color: #2b2b2b;
}

.main-menu-bar {
color: #4d77fd;
background-image: none;
background-color: #2b2b2b;
}

.main-header-bar > label {
color: #e4e4e4;
font-weight:700;
}

.main-header-bar > box {
background-color: #2b2b2b;
border: none;
border-style: solid;
border-color: #4d77fd;
}

.empty-list-pattern {
margin: 100px;
font-family: Courier;
}

.column-based-presenter button{
border: none;
border-radius: 0px;
padding: 10px 40px;
background-image: none;
background-color: #515151;
border-style: solid;
border-color: #515151;
border-width: 2px;
margin: 0px 1px;
outline: none;
box-shadow: none;
text-decoration: none;
}

.column-based-presenter button:hover{
border: none;
background-image: none;
background-color: #626262;
border-style: solid;
border-color: #626262;
border-width: 2px;
}
.column-based-presenter button:active{
border: none;
border-image: none;
background-image: none;
background-color: #515151;
border-style: solid;
border-color: #4d77fd;
border-width: 2px;
}

.column-based-presenter > * > box {
border-style: solid;
border-color: #464545;
border-width: 0px 2px 0px 0px;
background-color: #515151;
}


progressbar > trough > progress {
    background-color: #4d77fd;
}

progressbar > trough  {
background-color: #fff;
}

.main-main-grid label{
color:#e4e4e4;
text-shadow: none;
text-decoration: none;
outline: none;
}

.main-main-grid > * {
border-image: none;
border-style: solid;
border-color: #464646;
border-width: 2px;
}

menuitem:hover {
background: none;
box-shadow: inset 0px -3px #4d77fd;
}

menuitem *:hover {
background: none;
background-color: #515151;
box-shadow: none;
}
