grid {
 font-family: Ubuntu;
 color: #4d77fd;;
 background-color: #515151;
}

.menu-bar {
background-color: #ff0000;
/* class does not work */
}

.search-entry{
background-color: #515151;
border-style: solid;
border-color: #4d77fd;
border-radius: 25px;
}

statusbar {
background-color: #464545;
}

.file-tree{
background-color: #515151;
border: 1px solid #2b2b2b; /* property does not work */
}

box{
background-color: #464545;
border: 1px solid #464545;
}

progressbar > trough > progress {
    background-color: #4d77fd;
}

progressbar > trough  {
background-color: #fff;
}

headerbar > label {
color: #e4e4e4;
font-weight:700;
}

headerbar > box {
background-color: #2b2b2b;
border: none;
}

